.container {
  width: 100vh;
  margin: auto;
}

.column-full {
  border-style: solid;
  position: relative;
  top: 50%;
}

.row {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-left {
  justify-content: left;
}
