body {
  font-family: Karla, sans-serif;
}

p {
  font-weight: lighter;
  font-size: 12px;
}

button {
  width: 9rem;
  height: 2rem;
  background: none;
  border-style: solid;
  border-color: #d14c45;
  border-width: 2px;
  color: #d14c45;
  font-family: Karla, sans-serif;
}

img {
  width: 60%;
  margin-bottom: 50%;
}

h1 {
  letter-spacing: 4px;
}

h3 {
  font-size: 12px;
}

.container {
  max-width: 800px;
}

.column,
.row {
  display: flex;
}

.margin-auto {
  margin: auto;
}

.justify-content {
  justify-content: center;
}

.justify-content-right {
  justify-content: right;
}

.wrap {
  flex-wrap: wrap;
}

.margin-top {
  margin-top: 5%;
}

.font {
  color: #4c4c4c;
}

.line-height {
  line-height: 20px;
}
